<div class="container w-75 mt-5 ">
  <%= tag.h1 "ユーザー一覧" %>
    <table class="table">
      <thead>
        <%= tag.tr %>
          <%= tag.th "名前" %>
          <%= tag.th "メールアドレス" %>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <% if user.del_flag != 1 %>
            <%= tag.tr %>
              <%= tag.td user.name %>
              <%= tag.td user.email %>
          <% end %>
        <% end %>
      </tbody>
    <table>
</div>
