<div class="container w-75 mt-5 ">
  <h1>会員登録</h1>
    <%= form_for(@user, url: user_create_path) do |f| %>
      <%= f.label :"名前", class: "mt-2 " %>
      <%= f.text_field :name, class: "form-control", placeholder: "sample taro" %>
      <%= f.label :"メールアドレス", class: "mt-2"  %>
      <%= f.text_field :email, class: "form-control", placeholder: "sample@sample.com" %>
      <%= f.label :"パスワード", class: "mt-2" %>
      <%= f.text_field :password, class: "form-control", type: "password" %>
      <%= f.label :"パスワード（再確認）", class: "mt-2" %>
      <%= f.text_field :password_confirmation, class: "form-control", type: "password" %>
      <%= f.submit :"登録", class: "btn btn-primary mt-3"  %>

    <% end %>
</div>