<div class="container w-75 mt-5">
  <%= tag.h1 "投稿一覧" %>
    <table class="table">
      <thead>
        <%= tag.tr %>
          <%= tag.th "image" %>
          <%= tag.th "menbur" %>
          <%= tag.th "title" %>
          <%= tag.th "category" %>
          <%= tag.th "app" %>
      </thead>
      　
      <tbody>
        <% @posts.each do |post| %>
          <% if post.del_flag!=1 %>
            <%= tag.tr %>
              <%= tag.td image_tag post.post_image.url, class: "post-index-image" %>
              <%= tag.td post.menbur.nickname %>
              <%= tag.td link_to("#{post.title}", post_show_path(post.id) ) %>
              <%= tag.td link_to("#{post.postcategory.category_name}", post_show_path(post.id) ) %>
              <%= tag.td post.nancyatterapp.app_name %>
          <% end %>
        <% end %>    
      </tbody>
    </table>

    <%= paginate @posts%>
</div>
