<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to('ナンチャッター', root_path, class: 'navbar-brand') %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if @current_user %>
          <%= link_to("メンバー一覧", users_index_path, class: "nav-item", class: "nav-link active") %>
          <%= link_to("ログアウト", logout_path, class: "nav-item", class: "nav-link active") %>
        <% else %>
          <%= link_to("会員登録", signin_path, class: "nav-item", class: "nav-link active") %>
          <%= link_to("ログイン", login_form_path,  class: "nav-item", class: "nav-link active") %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>